@charset "UTF-8";
Html{
    box-sizing: border-box;
}
Body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: white;
    margin: 0px;
}

.paws{
    background-image: url(images/paws.png);

    background-position: left bottom;
    }


header img{
   padding-left: 700px;
    }
/* top navigation Rules*/
.topnav {
    background-color: #4d825b;
    overflow: hidden;
    justify-content: center;
    padding-left: 450px;

}
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}
.topnav a:hover {
    background-color: #F3D88A;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}

/*images*/ 
#photos img{
    display: flex;
    flex-direction: column;
    background-color: #4d825b;
    width: 400px;
    padding: 100px 200px 100px 200px;
}
.old-white{
    margin-top: -16px;
}
.farm{
    margin-top: -200px;
}
/*donations*/
main{
    width: 500px;
    padding: 2em 88px 259.5px 85px;
    background-color: #4d825b;
    display: flex;
    flex-direction: column;
    margin-left: 800px;
    margin-top: -1162px;
}
.donations{
    margin-top: 90px;
    margin-bottom: 10px;
    width: 450px;
    float: right;
    display: flex;
  flex-direction: row;
}
.donations a{
    background-color: #F3D88A;
    color: black;
    text-align: center;
    margin: 1px 10px 1px 10px;
    padding: 15px;
    width: 12%;
    text-decoration: none;
    float: right;
}
.donations a:hover {
        background-color: #9bc5a6;
        color: white;
    }
.donations a.active {
        background-color: #04AA6D;
        color: #F3D88A;
    }
.iimg{
   margin-top: 100px;
}

/*thank you uwu*/
.text{
    width: 500px;
    margin-left: 900px;
    margin-top: 100px;
    font-family: 'adelle', sans-serif;
}

/*misc.*/
.help{
    text-align: center;
    position: relative;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    color: white;
    font-family: 'adelle', sans-serif;
}

.BOTTOM{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


/*more residents*/  
.see-more a{
    background-color: #4d825b;
    border-radius: 25px;
    color: white;
    text-align: right;
    margin-bottom: 1px;
    margin-top: 50px;
    padding: 15px;
    width: 16%;
    text-decoration: none;
    float:right;
}

.see-more a:hover {
    background-color: #F3D88A;
    color: black;
}
.see-more a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}

/*resources nav*/
.bottomnav4 a{
background-color: #4d825b;
border-radius: 25px;
color: white;
text-align: center;
margin-bottom: 20px;
padding: 15px;
width: 16%;
text-decoration: none;
float:right;
margin-right: 415px;
}
.bottomnav4 a:hover {
background-color: #F3D88A;
color: black;
}
.bottomnav4 a.active {
background-color: #04AA6D;
color: #F3D88A;
}

/*back to top*/
.backtotop a{
background-color: #4d825b;
border-radius: 25px;
color: white;
text-align: center;
margin-bottom: 1px;
margin-top: 50px;
padding: 15px;
width: 3%;
text-decoration: none;
float: right;
}
.backtotop a:hover {
background-color: #F3D88A;
color: black;
}
.backtotop a.active {
background-color: #04AA6D;
color: #F3D88A;
}

 /*bottom part*/
 #paws{
    background-repeat: no-repeat;
    opacity: .75;
    background-position: bottom left;
    margin-bottom: -400px;
    }
 footer p{
    background-color: #4d825b;
    padding: 20px;
    text-align: right;
    color: white;
    margin-top: 7em;
}
 /*CIRCLE*/
 #halfcircle{
    position: relative;
    left: 240px;
    bottom: -112px;
    height: 500px;
    width: 1000px;
    border-radius: 500px 500px 0 0;
    background-color: #9bc5a6;
}