@charset "UTF-8";
Html{
    box-sizing: border-box;
}
Body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: white;
    margin: 0px;
}

header img{
    padding-left: 700px;
}
/*header rules*/
header {
    height: 550px;
}

/*navigation Rules*/
.topnav {
    background-color: #4d825b;
    overflow: hidden;
    justify-content: center;
    padding-left: 450px;

}
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}
.topnav a:hover {
    background-color: #F3D88A;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}

/* header 2? */
.indexdog {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/Indexdog.jpeg);
    height: 30em;
    width: 100%;
  }
  .welcome {
    position: absolute;
    top: 40%;
    right: 16px;
    text-shadow: 4px 4px #4d825b;
    color: white;
    font-family: "adelle", sans-serif;
    font-size: 30px;
  }
/*block text*/ 
main{

    padding: 2em;
    background-color: #9bc5a6;
}
main p{
    font-family: 'Mooli', sans-serif;
    line-height: 1.8em;
    text-align: right;
    float:right;
    width: 800px;
    padding-left: 150px;
}
main img{
    float:right;
    margin: 1em;
    border-radius: 25%;
}
#container{
    display: flex;
  flex-direction: row;
}
#text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


/*residents*/
.Charlie,.bianca,.odin{
    background-position: center;
    text-align: center;
    border-radius: 50px;
    background-color: #F3D88A;
    padding: 80px 10px 150px 10px;
    margin: 15px;

}

#oldies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    
}
#oldies h4{
    font-family: "adelle", sans-serif;
}
#oldies img{
    margin: 1em;
    border-radius: 25%;
}
    .help{
        text-align: center;
        position: relative;
        bottom: 1em;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        color:white;
        font-family: 'adelle', sans-serif;
    }

    .BOTTOM{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
.MEET{
    background-color: #4d825b; 
    padding: 15px;
    margin: 15px;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-family: 'adelle', sans-serif;
}
/*resources nav*/
.bottomnav1 a{
    background-color: #4d825b;
    border-radius: 25px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    width: 16%;
    text-decoration: none;
    float:right;
    margin-right: 415px;
}
.bottomnav1 a:hover {
    background-color: #F3D88A;
    color: black;
}
.bottomnav1 a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}

/*donate nav*/
.bottomnav2 a{
    background-color: #4d825b;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 15px;
    width: 16%;
    text-decoration: none;
    float: right;
    margin-right: 415px;
}
.bottomnav2 a:hover {
    background-color: #F3D88A;
    color: black;
}
.bottomnav2 a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}

/*back to top*/
.bottomnav3 a{
    background-color: #4d825b;
    border-radius: 25px;
    color: white;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 50px;
    padding: 15px;
    width: 3%;
    text-decoration: none;
    float: right;
}
.bottomnav3 a:hover {
    background-color: #F3D88A;
    color: black;
}
.bottomnav3 a.active {
    background-color: #04AA6D;
    color: #F3D88A;
}


 /*more residents*/  
    .see-more a{
        background-color: #4d825b;
        border-radius: 25px;
        color: white;
        text-align: right;
        margin-bottom: 1px;
        padding: 15px;
        width: 16%;
        text-decoration: none;
        float:right;
    }

    .see-more a:hover {
        background-color: #F3D88A;
        color: black;
    }
    .see-more a.active {
        background-color: #04AA6D;
        color: #F3D88A;
    }


     /*bottom part*/
     #paws{
        background-repeat: no-repeat;
        opacity: .75;
        background-position: bottom left;
        margin-bottom: -400px;
        }
#footer p{
    background-color: #4d825b;
    padding: 20px;
    text-align: right;
    color: white;
    margin-top: 7em;
}
 /*CIRCLE*/
 #halfcircle{
    position: relative;
    left: 240px;
    bottom: -112px;
    height: 500px;
    width: 1000px;
    border-radius: 500px 500px 0 0;
    background-color: #9bc5a6;
}